.bannerContainer {
    margin-top: -4px;
    display:flex;
    width:100vw;
    height:auto;
}

.bannerContainer img{
    width:100vw;
    height:306px;
    object-fit: cover;
    object-position: center;
}

.profileContainer {
    display: flex;
    border-bottom: 1px solid grey;
}

.profileContainer img{
    width:300px;
    height: 300px;
    border-radius: 50%;
    margin-top: -170px;
    margin-left: 90px;
    z-index: 1;
    
}

.profileDetails {
    display:flex;
    flex-direction: column;
    
}

.profileDetails ul{
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
    list-style: none;
    gap: 100px;
}

.profileDetails ul li{
    font-size: 24px;
    font-weight: 400;
    
}

.profileDetails > h1{
    margin: 30px 0px 0px 20px;
}

.profileInfoWrapper {
    display: flex;
    justify-content:center;
    align-items:center;
    
}

.profileInfo {
    margin-top: 30px;
}

.profileInfo h1{
    margin-bottom: 30px;
    font-size:38px;
    text-align: center;
}

.profileInfoBio {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.profileInfoBio img{
    width:540px;
    height:470px;
}

.profileInfoBio p{
    width:527px;
    height:412px;
}

.artistInfo h1{
    text-align: center;
    font-size:32px;
}

.artistInfo p{
    text-align: left;
    font-size:16px;
}

/* ----- Profilepic ----- */

.profile-pic {
    position: relative;
}

.profile-pic input {
    display: none;
}

.profile-pic label {
    position: absolute;
    top: -8rem;
    right: 1rem;
    background: transparent;
} 

.profile-pic label i {
    background: transparent;
    font-size: 1.5rem;
    color: rgb(0,0,0);
}

.profile-pic:hover i {
    border: 1px solid white;
    background: #aaa;
    transform: scale(2);
    border-radius: 50%;
}
