@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.loginFormContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loginForm {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.loginForm > input {
  border: none;
  border-bottom: 1px solid grey;
  width: 350px;
  height: 30px;
  margin-top: 28px;
}

.loginForm > button {
  background: #272727;
  width: 210px;
  height: 45px;
  margin: 10px 0;
  background-color: #272727;
}

.loginForm > button > h2 {
  background:none;
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  align-items: center;
}

.loginForm > input::placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 35.16px;
}

.loginForm a {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.output {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error {
  color: var(--danger);
}

.success {
  color: var(--success);
}