@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;700&display=swap");

.Navbar {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.logoContainer {
  margin: 28px 90px -15px 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  align-content: center;
}

.logoWrapperNav,
.menuWrapper,
.customerWrapper {
  display: flex;
}

#styleSettings {
  font-family: "Amiri", serif;
  font-size: 20px;
  font-weight: 400;
  color: #202020;
  margin: 0px 10px 0 10px;
}

.inputWrapper {
  width: 60%;
  position: relative;
}

.inputField {
  
  font-family: inherit;
  width: 100%;
  height: 25px;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 6px 0;
  background: transparent;
}

.searchIcon {
  position: absolute;
  top: 1;
  right: 0;
  font-size: 20px;
}

.borderSolidLine {
  margin-top: 33px;
  border-bottom: solid grey;
  opacity: 0.6;
}

#logoText {
  font-family: "Amiri", serif;
  font-size: 32px;
  font-weight: 400;
  color: #202020;
  margin-left: 90px;
}

#logoText--span {
  font-family: "Amiri", serif;
  font-size: 32px;
  font-weight: 400;
  color: #c2872d;
}
#logoText--svg {
  margin-left: 10px;
}

/*dropdown */
.dataResult {
  
  margin-top: 2px;
  width: 10%;
  height: 50%;
  margin-left: 22vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.button {
  border: none;
  position: absolute;
  cursor: pointer;
}