@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;700&display=swap");

.Navbar {
  margin: 0;
  padding: 0;
}
i {
  color: #202020e7;
}
a {
  text-decoration: none;
  color: inherit;
}

.logoContainer {
  margin: 28px 90px -15px 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  align-content: center;
}

.logoWrapperNav,
.menuWrapper,
.customerWrapper {
  display: flex;
}

.logoWrapperNav {
  margin-right: 10px;
}

#styleSettings {
  font-family: "Amiri", serif;
  font-size: 24px;
  font-weight: 400;
  color: #202020e7;
  margin: 0px 10px 0 10px;
}

.menu-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu-icon-container i {
  color: #202020e7;
}

.menu-icon-container p {
  margin-top: 5px;
}

.signX {
  width: 100%;
  white-space: nowrap;
}

/* ----- Category menu ----- */

.category-link:hover,
.artist-link:hover {
  text-decoration: underline;
}

.category-link {
  position: relative;
}

.category-menu {
  display: none;
  height: 100%;
  width: 200%;
  position: absolute;
  z-index: 100;
  top: 100%;
  white-space: nowrap;
}

.category-link:hover .category-menu {
  display: block;
  position: absolute;
}

.category-menu-title {
  color: var(--menu-border-clr);
  font-size: 1rem;
  border-top: 1px solid var(--menu-border-clr);
  border-right: 1px solid var(--menu-border-clr);
  border-left: 1px solid var(--menu-border-clr);
  border-bottom: 1px solid var(--menu-border-clr);
}

.category-menu-item {
  position: relative;
}

.category-menu-item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid var(--menu-border-clr);
  border-left: 1px solid var(--menu-border-clr);
  border-bottom: 1px solid var(--menu-border-clr);
  text-align: left;
  padding-left: 0.8rem;
}

.category-menu-item:hover * {
  background: white;
}

.category-menu-item i {
  font-size: 0.8rem;
  padding-right: 1rem;
}

.category-menu-item-title {
  width: 100%;
  font-size: 1.2rem;
}
/* --x-- Category menu --x-- */
/* ----- Products in category-list ----- */
.menu-item-products {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 100%;
  top: -1px;
  border-top: 1px solid var(--menu-border-clr);
  font-size: 1.2rem;
}

.menu-item-products .menu-product-list-item {
  border-right: 1px solid var(--menu-border-clr);
  border-bottom: 1px solid var(--menu-border-clr);
}

.menu-item-products .no-products {
  color: var(--menu-border-clr);
}

.menu-product-list-item {
  position: relative;
}

.category-menu-item:hover .menu-item-products {
  display: block;
}

/* --X-- Products in category-list --X-- */

.inputWrapper {
  width: 60%;
  position: relative;
  margin: 0 10px;
}

.inputField {
  font-family: inherit;
  width: 100%;
  height: 25px;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 6px 0;
  background: transparent;
}

.searchIcon {
  position: absolute;
  top: 1;
  right: 0;
  font-size: 20px;
}

.borderSolidLine {
  margin-top: 333px;
  border-bottom: 0px solid rgb(214, 0, 0);
  opacity: 0.6;
}

#logoText {
  font-family: "Amiri", serif;
  font-size: 40px;
  width: 121px;
  height: 70px;
  font-weight: 900;
  color: #dc3838;
  margin-left: 90px;
}

#logoText2 {
  font-family: "Amiri", serif;
  font-size: 40px;
  width: 121px;
  height: 70px;
  font-weight: 900;
  color: #ae0c94;
}
#logoText--svg {
  margin-left: 15px;
  scale: 1.5;
}

/*dropdown */
.dataResult {
  margin-top: 2px;
  width: 10%;
  height: 50%;
  margin-left: 22vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.button {
  border: none;
  position: absolute;
  cursor: pointer;
}

.counter {
  position: absolute;
  top: 100%;
  left: 10%;
  margin-top: 5px;
  bottom: 100%;
  font-size: 14px;
  font-weight: 400;
}

/* ----- Searchresults ----- */
.search-results {
  position: absolute;
  width: 100%;
  border: 1px solid var(--menu-border-clr);
  background: white;
  z-index: 100;
  opacity: 0.9;
}

.search-results > div {
  padding: 5px 0;
}

.search-results > div > a:hover div {
  background: var(--menu-highlight-clr);
}

/* --X-- Searchresults --X-- */
/* ----- Profile settings link ----- */

.profile-settings-icon-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.profile-settings-icon {
  font-size: 1.8rem;
  opacity: 0.7;
  cursor: pointer;
}

.profile-settings-icon:hover {
  opacity: 1;
}

.profile-link-text {
  position: absolute;
  right: 2.2rem;
  top: 0.3rem;
  visibility: hidden;
  font-size: 1rem;
  white-space: nowrap;
}

.profile-settings-icon-container:hover .profile-link-text {
  visibility: visible;
}

/* --x-- Profile settings link --x-- */
