@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;700&display=swap");

#newsTitle {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  color: #202020e7;
}

.newsContent {
  display: flex;
  flex-direction: column;
  margin: 10px, 0, 0, 82px;
  width: 628px;
  height: auto;
  gap: 50px;
  font-size: 18px;
}

.newsImage {
  display: flex;
}

.newsImage > img {
  width: 638px;
  height: 488px;
  object-fit: contain;
}

.newsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
