@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.newsDiv > img {
 display: flex;
 width: 638px;
 height: 488px;
 margin-left: 82px;
 
}

.textDiv > h1 {
display: flex;
justify-content: center;
font-family: 'amiri', 'serif';
font-size: 48px;
margin-top: 40px;
weight: 400px;
color: #222222;
}
.textDiv > h2 {
display: flex;
justify-content: right;
font-family: 'amiri', 'serif';
margin-top: 125px;
color: #222222;
}

.textDiv > p {
  display: flex;
  justify-content: right;
  flex-direction: column;
  color: #222222;
  flex-direction: column;
  flex-wrap: wrap;

}