.productCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 140px 150px 140px;
}

.productSingleItemContainer {
    margin-left: 40px;
}

.categoryTitle {
    font-size: 48px;
}

.categorySubTitle {
    font-size: 24px;
    font-style: italic;
}

.productView {
    margin-top: 15px;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.imagefavoriteIcon{
    position: absolute;
    color: rgba(131, 99, 40, 0.8);
    top: 16px;
    right: 9px;
    font-size: 24px;
    background-color: transparent;
}

.imageContainer > img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 35px;
    position: relative;
}

.priceText {
    display: flex;
    color: #222222;
    width: 100px;
    height: 35px;
}


.addToCart {
    text-align: center;
    background-color: #F18E8E;
    border: none;
    width: 100px;
    height: 35px;
    font-family: "Amiri", serif;
    font-weight: 400;
    font-size: 15px;
}
.addCartIcon{
    position: absolute;
    top:8px;
    right:10px;
    z-index: 99;
    font-size: 15px;
    background-color: transparent;
}
