/* UploadProductForm */

.upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 1rem;
    border: none;
}

.upload-form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.upload-form input, .upload-form textarea {
    outline: none;
    font-size: 1.4rem;
    width: 100%;
}

.upload-form input {
  width: 250px;
}

.upload-form textarea {
    height: 120px;
    width: 250px;
}

.upload-form select {
    font-size: 1rem;
    outline: none;
    padding: .2rem;
    margin-bottom: 1rem;
    width: 250px;
}

.upload-form .title input {
    padding: .2rem;
}

.upload-form .description textarea {
    padding: .2rem;
}

.upload-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 24px;
  display: grid;
  place-content: center;
  border: 1px solid #333;
  font-weight: bold;
  line-height: 30px;
  cursor: pointer;
}

.upload-btn span {
  background: transparent;
}

.upload-btn:hover {
  background: rgba(255, 255, 255, 0.7);
}

.upload-btn input {
  opacity: 0;
}

.output {
  margin-top: 0.8rem;
  height: 1.2rem;
  font-size: 0.8rem;
}

.error {
  padding: 0.2rem;
  color: var(--danger);
  border-radius: 3px;
}

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.success-container img {
  height: 100px;
  aspect-ratio: 1;
  margin: 0 2rem;
}

.categorySelect {
  cursor: pointer;
}