@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.wishlistHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    font-family: 'amiri', 'serif';
}

.wishlistHeader > h1 {
    font-size: 48px;
}

.wishlistWrapper {
    border: solid 1px grey;
    width: 800px;
    height: 496px;
    padding: 5px;
}

.wishlistContainer {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wishlistProductWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-top: 40px;
    border: solid 1px grey;
    width: 800px;
}

#thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 18px;
    margin-right: 34px;

justify-content: center;
text-align: center;
align-items: center;
flex-direction: column;
margin-top: 40px;
border-width: 1px;

}

.wishlistContainer > ul {
font-size: 14px;

}

.wishlistContainer > ul > li > button {
    background-color: #F18E8E;
    color: #222222;
    width: 100px;
    height: 69px;
    border: none;

}