@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.wishlistHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    font-family: 'amiri', 'serif';
}

.wishlistHeader > h1 {
    font-size: 48px;
}

.wishlistWrapper {
    display: flex;
    flex-direction: row;
    border: solid 1px grey;
    width: 800px;
    height: 496px;
    padding: 5px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    
}


.product {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    
}


.productImage {
    display: flex;
    flex-direction: row;
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
    
}

.productImage > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 18px;
}

.productInfo{
    min-width: 150px;
    text-align: left;
    margin-left: 34px;
    
}

.productInfo h2{
    font-size: 18px;
    font-weight: 400;

}

.productInfo p{
    font-size: 14px;
    font-weight: 400;
    color: gray;
}


#prodNr {
    margin-top: -4%;
}


.adddelButton {
    max-width: 250px;
    height: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-left: 50px;
}


#addButton {
    background-color: #F18E8E;
    color: #222222;
    border: none;
    width: 100px;
    height: 69px;
    
}

#delButton {
    background-color: #F18E8E;
    color: #222222;
    border: none;
    width: 100px;
    height: 69px;
}



.productColor {
    font-size: 18px;
    min-width: 150%;
    min-height: 0%;
}

.productButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
}

.productButtons input {
    max-width: 20px;
    max-height: 25px;
    border: none;
    border-bottom: solid 1px grey;
}

.productButtons button {
    border-radius: 50%;
    
}

.productPrice  {
    min-width: 150%;
    margin-top: 25%;
    margin-left: 25%;
   
}
.productPrice h2 {

    font-size: 18px;

}