@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeded;
}

h1,h2,h3,h4,p {
  font-family: "Amiri", serif;
  font-weight: 400;
}

:root {
  --danger: red;
  --success: green;

  --checkout-bg: #454545;
  --checkout-accent: #f2c421;
  --checkout-txt: #ccc;
  --cart-bg: #ddd;
  --page-bg: #eee;

  --menu-border-clr: #aaa;
  --menu-highlight-clr: aliceblue;
}

.pageError {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 50px 0px;
  gap: 50px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  outline: none;
}
