@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeded;
}

h1,
h2,
h3,
h4,
p,
i {
  font-family: "Amiri", serif;
  font-weight: 400;
  color: #202020e7;
}

:root {
  --danger: #ff4a4a;
  --success: green;

  --checkout-bg: #454545;
  --checkout-accent: #f2c421;
  --checkout-txt: #ccc;
  --cart-bg: #ddd;
  --page-bg: #eee;

  --menu-border-clr: #aaa;
  --menu-highlight-clr: aliceblue;

  --dagmara-color-1: #b14e46;
  --dagmara-color-2: #e3a393;
  --dagmara-color-3: #cee3e6;
  --dagmara-color-4: #7483bd;
  --dagmara-color-5: #35374f;
}

.pageError {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 50px 0px;
  gap: 50px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  outline: none;
}
